name: CI
# Event设置为main分支的pull request事件，
# 这里的main分支相当于master分支，github项目新建是把main设置为默认分支，我懒得改了所以就保持这样吧
on:
  pull_request:
    branches: main
jobs:
  # 只需要定义一个job并命名为CI
  CI:
    runs-on: ubuntu-latest
    steps:
      # 拉取项目代码
      - name: Checkout repository
        uses: actions/checkout@v2
      # 给当前环境下载node
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      # 运行代码扫描
      - name: yarn Running Lint
        # 通过定义的命令行执行代码扫描
        run: npx yarn lint
      # 运行自动化测试
      - name: yarn Running Test
        # 通过前面章节定义的命令行执行自动化测试
        run: npx yarn test